<div class="card">
    <div class="card-header">History</div>
        <div class="card-body min-height-body">
            <p>During the last days of the 19th century, Lord Curzon (1899-1905), the then viceroy of India, proposed, primarily for 
                administrative purposes, the creation of North West Frontier Province which got the approval of Lord George F. Hamilton, 
                the then His Majestys Secretary of State for India on 20th December 1900.The province having formally founded on 9th November, 1901, 
                (the Kings birth day) had to get one Judicial Commissioner.The N.-W.F.P. Law and Justice Regulation No. VII of 1901 was enacted by 
                the Governor-General-in-Council in order to establish judicial institutions. The Regulation repealed the Punjab Courts Act, 1884. 
                Parts II and III of the Regulation deal with criminal justice, police and civil justice respectively; while part IV provides in 
                detail the constitution and powers of courts. Section 2 (1) (a) read with section 42 of the said Regulation defined the duties 
                and responsibilities of the Judicial Commissioner who was stated to be the highest civil and criminal court of appeal or revision 
                in the province.The Judicial Commissioner was also entrusted with duties of general superintendence and control of all other courts, 
                which were made subordinate to his office. He was to appoint Registrar and make rules consistent with the Regulation and any other 
                enactment for the time being in force.
            </p>
            <p>The Regulation, besides the Court of the Judicial Commissioner and the Courts of Small Causes, established under the Provincial 
                Small Causes Courts Act, 1887, created such other civil courts as pisional Court; the Court of the District Judge; the Court of 
                the Subordinate Judge and the Court of Munsif.According to the Regulation, appointments to and removal or suspension from the posts of the pisional Judge, 
                District Judge and subordinate judge were to be made by the Local Government; and of Munsif by the Judicial Commissioner.</p>

            <p>In 1931 further steps were taken to consolidate and to amend the law relating to courts in the province. 
                In this respect the N.-W.F.P. Regulation No. 1 of 1931 was promulgated. The Regulation, while keeping intact some important powers of 
                the Judicial Commissioner such as precedence over other Judges of the court, distribution of business, administration, and 
                the highest Civil and Criminal Court of Appeal or Revision, provided three classes of courts, viz.</p>
                <p>The Court of the District Judge</p>
                <p>The Court of the Additional Judge</p>
                <p>the Court of the Subordinate Judge</p>
                <p>Thereby changing the hierarchy of courts provided under Regulation No. VII of 1901.The law required the provincial government to 
                    pide the province into civil districts to be headed by District Judges, who would be assisted by Additional District Judges, if required. 
                    The status of the District Judge being the principal Civil Court of original jurisdiction was retained.It is clear from the above stated 
                    position that the latter enacted law did not repeal N.-W.F.P. Regulation No. VII of 1901 as a whole; 
                    a major portion of part IV comprising section 45 to 49 pertaining to courts was, however, repealed.</p>

            <p>The Establishment of West Pakistan Act, 1955, which created the province of West Pakistan, comprised, inter alia, the N.W.F.P. Soon after the 
                enactment of the said law, a separate High Court for the province of West Pakistan was created under the High Court of West Pakistan (Establishment) Order, 
                1955, Lahore as its principal seat and benches at Karachi and Peshawar. This repealed the former Lahore High Court, the Chief Court of Sindh and the 
                Judicial Commissioner Court in the N.-W.F.P. and Baluchistan and any other Court functioning as High Court for any other specified territories.</p>

            <p>Consequent upon the dissolution of One Unit, which created four provinces and a High Court for each of these provinces, the President issued a 
                separate Order for the establishment of High Courts; according to which the High Court for the N.W.F.P had to be called Peshawar High Court, 
                with its principal seat at Peshawar. Under this law the High Court of the N.-W.F.P. and others were given such powers, which were conferred on 
                the High Court of West Pakistan.</p>

            <p>Legal history evinces that the law of civil courts has separately been evolved since 1884, the year in which the Punjab Courts Act was enacted. 
                The West Pakistan Civil Courts Ordinance, 1962 (Ordinance II of 1962) has been promulgated thereafter to establish certain civil courts. 
                The Ordinance provided three civil courts, namely, the Courts of District Judge, Additional District Judge and Civil Judge in addition to the Small 
                Causes Courts established under the Provincial Small Cause Court Act, 1887. The law empowered the government to appoint, as per requirement, 
                District and Additional District Judges and to fix the number of Civil Judges in consultation with the Chief Justice. Under the Ordinance, 
                the power to determine the class and pecuniary jurisdiction of the Civil Judges rested with the High Court. Accordingly the Civil Judge of the 
                first class was conferred with pecuniary powers without limitation, whereas the Civil Judge of the second and third class were conferred with the 
                pecuniary powers up to Rs 15000 and Rs 5000 respectively. These pecuniary powers have been enhanced by now. The pecuniary jurisdiction of Civil 
                Judge first class is without limit, while that of Civil Judge second class and third class has been enhanced to Rs. 5,00,000 and Rs. 1,00,000 
                respectively. The pecuniary powers of the District Courts have been enhanced to Rs. 10, 00,000 vide an amendment in the West Pakistan Civil Courts 
                Ordinance, 1962.</p>

            <p>The Constitution of Pakistan, 1973 provides that Peshawar High Court shall have a Bench each at Abbottabad and DI Khan. Article 199 of the 
                Constitution lays down in detail the jurisdiction of the High Court. The jurisdiction was more or less the same as provided under the Constitution 
                of 1956 and further detailed under the Constitution of 1962.</p>
    </div>
</div>