/* You can add global styles to this file, and also import other style files */
.min-height-body{
    min-height: 75vh !important;
}
.min-height-body-error{
    min-height: 75vh !important;
    background-color: #f00;
}
